<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div  id="test">
        <input type="text" v-model="msg">
        <input type="text" v-model="msg">
        <p>hello {{msg}}</p>
    </div>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
        const vm = new Vue({
            el:'#test',
            data:{
                msg:'webcode'
            }
        })
        vm.msg='xfzhang'
    </script>
</body>
</html>